# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.pyc

# Virtual environment
/realitycheck/
.env/
.venv/
Scripts/
Lib/
Include/

# VS Code
.vscode/

# Data & models
/data/
/models/

# OS files
.DS_Store
Thumbs.db

